body {
    background:none no-repeat scroll 0 0 #202020;
    color:#fff;
}
a {
    color:#fff;
}
a:visited {
    color:#fff;
}
a:hover,a:focus,a:active {
    color:#fff;
}
table {     
	background: #fff; 
	border: 1px solid #d6d6d6;
}
table thead th, 
table th {
	color:#202020; 
	border-bottom: 1px solid #d6d6d6; 
} 
table tbody td { 
	color: #7D7D7D; 
	border-bottom: 1px solid #d6d6d6;
}
table tbody tr:last-child td:last-child { 
	border-right:1px solid #d6d6d6; 
}
table tfoot td div { 
	border-top: 1px solid #8C8C8C;
	background: #EBEBEB;
} 

/* Buttons */
.double-button {
	border:3px solid #fff;
}
.double-button span {
	color:#fff;
	border:1px solid #fff;
}
.double-button:hover span {
	background: #fff;
	color:#333;
}
/* Titles */
.title-underlined  {
	border-bottom:7px solid #fff;
}
.title-underlined span {
	border-bottom:1px solid #fff;
}
/* Lists */	
ul.list-arrows li {
	background:url("../images/li-arrow-white.png") no-repeat 0 5px transparent;
}
/* Progress bars */
.progress {
    background-color: #666;
}
.progress-bar {
	background-color: #fff;
	color: #fff;
}

/*=== Header ===*/
.separator-horizontal-line {
	background: url(../images/hor-black-arrowed-line.png) no-repeat center top transparent;
}
#site-logo {
	color:#202020;
}
#main-header {
	background: #fff;
	color:#202020;
}
/* Menu */
.main-navigation a {
	color:#202020;
}
.main-navigation a:visited {
    color:#202020;
}
.main-navigation ul ul {
	background:none #fff;
}
.main-navigation ul li:hover > a {
	background:none repeat scroll 0 0 #ccc;
    color:#202020;
}
.main-navigation ul li.current_page_item > a,
.main-navigation ul li.current-menu-item > a,
.main-navigation ul li.current-menu-parent > a,
.main-navigation ul li.current_page_parent > a,
.main-navigation ul li.current-menu-ancestor > a {
    background:none repeat scroll 0 0 #ccc;
    color:#202020;
}

/* About Us */
.about-person{
	color: #333;
	background: rgba(255,255,255,0.7);
}
a.link-facebook{ background-position:0 -60px; }
a.link-tweet{ background-position:-30px -60px; }
a.link-google{ background-position:-60px -60px; }

.down-arrow{
	background-position:0 -120px;
}