body {
    background:none no-repeat scroll 0 0 #fff;
    color:#333333;
}
a {
    color:#333333;
}
a:visited {
    color:#333333;
}
a:hover,a:focus,a:active {
    color:#333333;
}
table {     
	background: #fff; 
	border: 1px solid #d6d6d6;
}
table thead th, 
table th {
	color:#333333; 
	border-bottom: 1px solid #d6d6d6; 
} 
table tbody td { 
	color: #7D7D7D; 
	border-bottom: 1px solid #d6d6d6;
}
table tbody tr:last-child td:last-child { 
	border-right:1px solid #d6d6d6; 
}
table tfoot td div { 
	border-top: 1px solid #8C8C8C;
	background: #EBEBEB;
} 
/* Buttons */
.double-button {
	border:3px solid #333;
}
.double-button span {
	color:#333;
	border:1px solid #333;
}
.double-button:hover span {
	background: #333;
	color:#fff;
}
/* Titles */
.title-underlined  {
	border-bottom:7px solid #333;
}
.title-underlined span {
	border-bottom:1px solid #333;
}
/* Lists */
ul.list-arrows li {
	background:url("../images/li-arrow-black.png") no-repeat 0 5px transparent;
}
/* Progress bars */
.progress {
    background-color: #eaeaea;
}
.progress-bar {
	background-color: #333;
	color: #333;
}

/*=== Header ===*/
.separator-horizontal-line {
	background: url(../images/hor-white-arrowed-line.png) no-repeat center top transparent;
}
#site-logo {
	color:#fff;
}
#main-header {
	background: #333333;
	color:#ffffff;
}
/* Menu */
.main-navigation a {
	color:#ffffff;
}
.main-navigation a:visited {
    color:#ffffff;
}
.main-navigation ul ul {
	background:none #333333;
}
.main-navigation ul li:hover > a {
	background:none repeat scroll 0 0 #ccc;
    color:#333;
}
.main-navigation ul li.current_page_item > a,
.main-navigation ul li.current-menu-item > a,
.main-navigation ul li.current-menu-parent > a,
.main-navigation ul li.current_page_parent > a,
.main-navigation ul li.current-menu-ancestor > a {
    background:none repeat scroll 0 0 #ccc;
    color:#333;
}

/* About Us */
.about-person{
	color: #fff;
	background: rgba(0,0,0,0.8);
}
a.link-facebook{ background-position:0 0; }
a.link-tweet{ background-position:-30px 0; }
a.link-google{ background-position:-60px 0; }

.down-arrow{
	background-position:0 0;
}

/* Services */
#services-carousel.owl-carousel .owl-controls .owl-buttons div {
	background-color: #fff;
}
#services-carousel.owl-carousel .owl-controls .owl-buttons div.owl-prev{
	background-position: -120px 0;
}
#services-carousel.owl-carousel .owl-controls .owl-buttons div.owl-next{
	background-position: -60px 0;
}
#services-carousel.owl-carousel .owl-controls .owl-buttons div.owl-prev:hover{
	background-position: -120px -60px;
}
#services-carousel.owl-carousel .owl-controls .owl-buttons div.owl-next:hover{
	background-position: -60px -60px;
}
