body {
    background:none no-repeat scroll 0 0 #fff;
    color:#333333;
}
a,
a:visited,
a:hover,
a:focus, 
a:active {
    color:#333;
	text-decoration:none;
}
p a {
    color:#666666;
	text-decoration:underline;
}
p a:visited {
    color:#666666;
	text-decoration:underline;
}
p a:hover, p a:focus, p a:active {
    color:#666666;
	text-decoration:underline;
}

table {     
	background: #fff; 
	border: 1px solid #333333;
}
table thead th, 
table th {
	color:#ffffff; 
	background: #333333;
	border-bottom: 1px solid #333333; 
	border-right: 1px solid #333333;
} 
table th:nth-child(2) { 
	background: #707070;
}
table tbody td { 
	color: #333333; 
	border-bottom: 1px solid #333333;
	border-right: 1px solid #333333;
}
table tbody tr:last-child td:last-child { 
	border-right:1px solid #333333; 
}
table tfoot td div { 
	border-top: 1px solid #333333;
	background: #EBEBEB;
} 
/* Buttons */
.double-button {
	border:3px solid #333;
}
.double-button span {
	color:#333;
	border:1px solid #333;
}
.double-button:hover span {
	background: #333;
	color:#fff;
}
.input-submit-wrapper {
	border: 2px solid #333;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    border:1px solid #333;
    color: #333;
}
button:hover,html input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover {
    background: #333;
	color: #fff;
}
button:focus,html input[type="button"]:focus,input[type="reset"]:focus,input[type="submit"]:focus,button:active,html input[type="button"]:active,input[type="reset"]:active,input[type="submit"]:active {
	background:#999;
}

/* Quotes */
.block-with-quotes:before{
	background-image: url("../images/quotes-open-dark.png");
}
.block-with-quotes:after{
	background-image: url("../images/quotes-close-dark.png");
}


/* Inputs */
.input-text-wrapper,
.input-textarea-wrapper {
	border: 2px solid #666;
}
.input-text-wrapper.focus,
.input-textarea-wrapper.focus {
	border: 2px solid #333;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.comment-form input[type="text"],
.comment-form input[type="email"] {
	background: none;
	color: #333;
	border: 1px solid #fff;
}
.contact-form textarea,
.comment-form textarea {
	background: none;
	color: #333;
	border: 1px solid #fff;
}
.contact-form input:focus,
.contact-form textarea:focus,
.comment-form input:focus,
.comment-form textarea:focus {
	border: 1px solid #333;
}

/* Placeholder */
::-webkit-input-placeholder{
	color:  #666; 
}
:-moz-placeholder{
	
}
::-moz-placeholder{
	
}
:-ms-input-placeholder{
	color:  #666; 
}
.placeholder{
	color:  #666; 
}

/* Stars */
.stars .star{
	background-position: -50px -25px;
}

/* Titles */
.title-underlined  {
	
}
.title-underlined:before {
	border-bottom: 1px solid #333;
}




.title-underlined  {
	border-bottom:8px solid #333;
}
.title-underlined span {
	border-bottom:1px solid #333;
}
/* Lists */
ul.list-arrows li {
	background-image:url("../images/li-arrow-black.png");
	background-image: -Webkit-image-set(url('../images/li-arrow-black.png') 1x, url('../images/li-arrow-black@2x.png') 2x);
}
ul.list-pluses li {
	background:url("../images/li-plus-black.png") no-repeat 0 4px transparent;
}
ul.list-stars li {
	background:url("../images/li-star-black.png") no-repeat 0 4px transparent;
}
/* Progress bars */
.progress {
    background-color: #eaeaea;
}
.progress-bar {
	background-color: #333;
	color: #333;
}

/*=== Header ===*/
.separator-horizontal-line {
	background: url(../images/hor-white-arrowed-line.png) no-repeat center top transparent;
}
#site-logo {
	color:#fff;
	/* background-image:url(../images/logo-benign-white.png); */
}
#main-header {
	background: #333333;
	color:#ffffff;
}
/* Menu */
.main-navigation a {
	color:#ffffff;
}
.main-navigation a:visited {
    color:#ffffff;
}
.main-navigation ul ul {
	background:none #333333;
}
.not-mobile .main-navigation ul li:hover > a,
.main-navigation ul li.hover > a  {
	background:none repeat scroll 0 0 #ccc;
    color:#333;
}
.main-navigation ul li.current_page_item > a,
.main-navigation ul li.current-menu-item > a,
.main-navigation ul li.current-menu-parent > a,
.main-navigation ul li.current_page_parent > a,
.main-navigation ul li.current-menu-ancestor > a {
    background:none repeat scroll 0 0 #ccc;
    color:#333;
}

/* About Us */
.about-person{
	color: #fff;
	background: rgba(0,0,0,0.8);
}

.down-arrow{
	background-position:0 0;
}

/* Services */
.services-theme .owl-controls .owl-buttons div {
	/* background-color: #fff; */
}
.services-theme .owl-controls .owl-buttons div.owl-prev{
	background-position: -120px 0;
}
.services-theme .owl-controls .owl-buttons div.owl-next{
	background-position: -60px 0;
}
.services-theme .owl-controls .owl-buttons div.owl-prev:hover{
	background-position: -120px -60px;
}
.services-theme .owl-controls .owl-buttons div.owl-next:hover{
	background-position: -60px -60px;
}
#services a,
#blog-recent a {
	color:#333;
}

/* Works */
ul.isotope-option li.current a,
ul.isotope-option li a:hover {
	color:#000;
}

/* Price */
.price-table {
	border: 1px solid #333;
}
.price-table h4.packet-title {
	color:#fff;
	background:#333;
	margin:0;
}
.price-table ul li {
	border-top: 1px solid #333;
}

/* Footer */
footer#site-footer {
	background:#333; 
}
footer .copyright {
	color:#fff;
}

a.social-link .fa { color:#fff; }
a.social-link:hover .fa{ color:#666; }
.about-person a.social-link .fa { color:#fff; }
.about-person a.social-link:hover .fa { color:#666; }

/* Blog */
.entry-header {
	border-right: 1px solid #333;
}
.entry-meta div {
	border-bottom: 1px solid #333;
}

.post-navigation .nav-previous .meta-nav {
	background-position:-120px -60px;
}
.post-navigation .nav-previous a:hover .meta-nav {
	background-position:-120px 0;
}
.post-navigation .nav-next .meta-nav {
	background-position:-55px -60px;
}
.post-navigation .nav-next a:hover .meta-nav {
	background-position:-55px 0;
}
.post-navigation .meta-text {
	color:#666;
}
.post-navigation a:hover .meta-text {
	color:#333;
}
/* Contact form */
