body {
    background:none no-repeat scroll 0 0 #202020;
    color:#fff;
}
a {
    color:#fff;
}
a:visited {
    color:#fff;
}
a:hover,a:focus,a:active {
    color:#fff;
}
a.double-underline {
	background-image: url("../images/double-underline-white.png");
}
table {     
	background: transparent; 
	border: 1px solid #ffffff;
}
table thead th, 
table th {
	color:#202020; 
	background: #fff;
	border-bottom: 1px solid #fff; 
	border-right: 1px solid #fff;
} 
table th:nth-child(2) { 
	background: #ddd;
}
table tbody td { 
	color: #fff; 
	border-bottom: 1px solid #ffffff;
	border-right: 1px solid #fff;
}
table tbody tr:last-child td:last-child { 
	border-right:1px solid #ffffff; 
}
table tfoot td div { 
	border-top: 1px solid #ffffff;
	background: #EBEBEB;
} 

/* Buttons */
.double-button {
	color: #fff;
	border:3px solid #fff;
}
.double-button:before {
	border: 1px solid #fff;
}
.double-button:hover,
#blog-recent a.double-button:hover {
	color: #333;
}
.double-button:hover:before {
	background: #fff;	
}


.input-submit-wrapper {
	border: 2px solid #fff;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    border:1px solid #fff;
    color: #fff;
}
button:hover,html input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover {
    background: #fff;
	color: #202020;
}
button:focus,html input[type="button"]:focus,input[type="reset"]:focus,input[type="submit"]:focus,button:active,html input[type="button"]:active,input[type="reset"]:active,input[type="submit"]:active {
	background:#bbb;
}

/* Quotes */
.block-with-quotes:before{
	background-image: url("../images/quotes-open-white.png");
	background-image: -Webkit-image-set(url('../images/quotes-open-white.png') 1x, url('../images/quotes-open-white@2x.png') 2x); 
}
.block-with-quotes:after{
	background-image: url("../images/quotes-close-white.png");
	background-image: -Webkit-image-set(url('../images/quotes-close-white.png') 1x, url('../images/quotes-close-white@2x.png') 2x); 
}

/* Navigation Arrows */
.arrow-prev {
	background-image: url("../images/arr-left-small-white.png");
	background-image: -Webkit-image-set(url('../images/arr-left-small-white.png') 1x, url('../images/arr-left-small-white@2x.png') 2x);
}
.arrow-prev.big {
	background-image: url("../images/arr-left-big-white.png");
	background-image: -Webkit-image-set(url('../images/arr-left-big-white.png') 1x, url('../images/arr-left-big-white@2x.png') 2x);
}
.arrow-next {
	background-image: url("../images/arr-right-small-white.png");
	background-image: -Webkit-image-set(url('../images/arr-right-small-white.png') 1x, url('../images/arr-right-small-white@2x.png') 2x);
}
.arrow-next.big {
	background-image: url("../images/arr-right-big-white.png");
	background-image: -Webkit-image-set(url('../images/arr-right-big-white.png') 1x, url('../images/arr-right-big-white@2x.png') 2x);
}
.arrow-round-prev {
	background-image: url("../images/arr-circle-left-white.png");
	background-image: -Webkit-image-set(url('../images/arr-circle-left-white.png') 1x, url('../images/arr-circle-left-white@2x.png') 2x);
}
.arrow-round-next {
	background-image: url("../images/arr-circle-right-white.png");
	background-image: -Webkit-image-set(url('../images/arr-circle-right-white.png') 1x, url('../images/arr-circle-right-white@2x.png') 2x);
}

/* Navigation */
.dots-nav li a {
	border: 3px solid #fff;
}
.dots-nav li a:before {
	border: 1px solid #fff;
}
.dots-nav li a.active:before,
.dots-nav li a:hover:before {
	background-color: #fff;
}

/* Pagination */
.pagination > li > a,
.pagination > li > span {
	color: #fff;
}
.pagination > li > a:hover, 
.pagination > li > span:hover, 
.pagination > li > a:focus, 
.pagination > li > span:focus,
.pagination > li.current > a {
	color: #fff;
	border-color: #fff;
}

/* Select */
.bootstrap-select.btn-group .btn .caret {
    background-position: center -155px;
}
.bootstrap-select .btn {
	color: #fff;
	background-color: transparent;
	border-color: #999;
}
.bootstrap-select.open .dropdown-toggle {
	color: #fff;
	border-color: #fff;
}
.bootstrap-select.btn-group .dropdown-menu {
	background-color: #202020;
	border: 1px solid #fff;
	-webkit-box-shadow: 0 6px 12px rgba(255, 255, 255, .175);
	box-shadow: 0 6px 12px rgba(255, 255, 255, .175);
}
.dropdown-menu > li > a {
	color: #fff;
}

/* Alerts */
.alert {
	background: #202020;
	color: #fff;
	border: 3px solid #fff;
}
.alert div {
	background: #202020;
}
.alert.alert-info div {
	border: 1px solid #fff;
}
.alert.alert-warning div {
	background: #fff;
	color:#202020;
	border: 1px solid #fff;
}
.alert.alert-danger {
	background:#fff;
}
.alert.alert-danger div {
	background: #fff;
	color:#202020;
	border: 1px solid #202020;
}

/* Accordion */
body .panel-title a {
	background-color: #fff;
	color: #202020;
	background-position: 96% -372px;
}
.panel-group .panel {
	border-color: #fff;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
	border-top: 1px solid #fff;
}
.panel-title a.collapsed {
	color: #fff;
	background-position: 96% -33px;
}
.panel-title a:hover {
	color: #202020;
}
.panel-title a.collapsed:hover {
	color: #fff;
}

/* Progress bars */
.progress {
    background-color: #666;
}
.progress-bar {
	background-color: #fff;
	color: #fff;
}
#skills-block span.progress-title {
	background-color:#202020;
}

/* Tabs */
.nav-tabs { 
	border-left: 1px solid #fff;
}
.nav-tabs > li > a {
	border: 1px solid #fff;
	border-left:0;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
	color: #202020;
	background-color: #fff;
	border: 1px solid #fff;
	border-left:0;
}
.nav > li > a:hover, 
.nav > li > a:focus {
	border: 1px solid #fff;
	border-left:0;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: #333;
}

/* Inputs */
.input-text-wrapper,
.input-textarea-wrapper {
	border: 2px solid #999;
}
.input-text-wrapper.focus,
.input-textarea-wrapper.focus {
	border: 2px solid #fff;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.comment-form input[type="text"],
.comment-form input[type="email"] {
	background: none;
	color: #fff;
	border: 1px solid #202020;
}
.contact-form textarea,
.comment-form textarea {
	background: none;
	color: #fff;
	border: 1px solid #202020;
}
.contact-form input:focus,
.contact-form textarea:focus,
.comment-form input:focus,
.comment-form textarea:focus {
	border: 1px solid #fff;
}

/* Placeholder */
::-webkit-input-placeholder{
	color:  #aaa; 
}
:-moz-placeholder{
	
}
::-moz-placeholder{
	
}
:-ms-input-placeholder{
	color:  #aaa; 
}
.placeholder{
	color:  #aaa; 
}


/* Stars */
.stars .star{
	background-position: -50px 0;
}

/* Titles */
.title-underlined  {
	border-bottom:8px solid #fff;
}
.title-underlined:before {
	border-bottom: 1px solid #fff;
}
.title-corner:before {
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
}
.title-corner:after {
	border-right:7px solid #fff;
	border-bottom:7px solid #fff;
}
.title-pattern {
	background: url(../images/title-pattern-white.png) no-repeat center bottom transparent;
	background-image: -Webkit-image-set(url('../images/title-pattern-white.png') 1x, url('../images/title-pattern-white@2x.png') 2x); 
}

/* Lists */	
ul.list-arrows li {
	background-image:url("../images/li-arrow-white.png");
	background-image: -Webkit-image-set(url('../images/li-arrow-white.png') 1x, url('../images/li-arrow-white@2x.png') 2x);
}
ul.list-pluses li {
	background-image:url("../images/li-plus-white.png");
	background-image: -Webkit-image-set(url('../images/li-plus-white.png') 1x, url('../images/li-plus-white@2x.png') 2x);
}
/* ul.list-stars li {
	background:url("../images/li-star-white.png") no-repeat 0 4px transparent;
} */


/*=== Header ===*/
.separator-horizontal-line {
	background: url(../images/hor-black-arrowed-line.png) no-repeat center top transparent;
	background-image: -Webkit-image-set(url('../images/hor-black-arrowed-line.png') 1x, url('../images/hor-black-arrowed-line@2x.png') 2x);
}
#site-logo,
#site-header.show-top.show #site-logo {
	background-image:url(../images/logo-dark.png);
}
#site-header.show-top #site-logo {
	background-image:url(../images/logo-white.png);
}
#site-header.show-top #mob-menu-switch {
	background-image: url("../images/menu-switch-120.png");
}
#main-header {
	background: #fff;
	color:#202020;
}
#site-header.show-top .main-navigation a {
	color: #fff;
}
#site-header.show-top .main-navigation li:hover a,
#site-header.show-top .main-navigation .sub-menu a {
	color: #202020;
}

#site-header.show-top.show .main-navigation a {
	color: #202020;
}
#site-header.show-top.show #main-header {
	background: #fff;
}
/* Menu */
.main-navigation a {
	color:#202020;
}
.main-navigation a:visited {
    color:#202020;
}
.main-navigation ul ul {
	background:none #fff;
}
.not-mobile .main-navigation ul li:hover > a,
.main-navigation ul li.hover > a {
	background:none repeat scroll 0 0 #ccc;
    color:#202020;
}
.main-navigation ul li.current_page_item > a,
.main-navigation ul li.current-menu-item > a,
.main-navigation ul li.current-menu-parent > a,
.main-navigation ul li.current_page_parent > a,
.main-navigation ul li.current-menu-ancestor > a {
    background:none repeat scroll 0 0 #ccc;
    color:#202020;
}
#mob-menu-alt-switch {
	border-color: #fff;
	background: #333;
}
#mob-menu-alt-switch::before {
	border-color: #fff;
}
#mob-menu-alt-switch::after {
	background-image:url("../images/menu-alt-switch-white.png");
}
#header-hide-btn {
	background-color: #333;
}
#header-hide-btn::after {
	background-image: url("../images/menu-alt-switch-white.png");
}
a#mob-menu-switch {
	background-image: url("../images/menu-switch-120-gray.png");
}
#hidden-mobile-menu ul li {
	background: #fff;
}
#hidden-mobile-menu ul li a {
	color: #333;
}
#hidden-mobile-menu ul.sub-menu > li {
	border-top: 1px solid #333;
}
#hidden-mobile-menu li.menu-item-has-children .submenu-button {
	background-image: url("../images/arr-right-small-gray.png");
	background-image: -Webkit-image-set(url('../images/arr-right-small-gray.png') 1x, url('../images/arr-right-small-gray@2x.png') 2x);
}
ul.isotope-option li.option-select a:after {
	background-image: url('../images/arr-right-small-white.png');
}


#simplemodal-overlay{
	background-color: #fff;
}
#simplemodal-container a.modalCloseImg {
	background: url(../images/modal-close-white.png) no-repeat center center;
}
.portfolio {
	background: #333;
}
.portfolio-link {
	background-image: url(../images/portfolio-link-white.png);
	background-image: -Webkit-image-set(url('../images/portfolio-link-white.png') 1x, url('../images/portfolio-link-white@2x.png') 2x); 
}
.portfolio .social-link:hover .fa {
	color: #fff;
}

.portfolio .dots-nav.white li a {
	border: 3px solid #333;
}
.portfolio .dots-nav.white li a:before {
	border: 1px solid #333;
}
.portfolio .dots-nav.white li a.active:before,
.portfolio .dots-nav.white li a:hover:before {
	background-color: #333;
}

/* About Us */
.about-person{
	color: #333;
	background: rgba(255,255,255,0.7);
}

.down-arrow{
	background-position:0 -120px;
}

/* Services */
.services-theme .owl-controls .owl-buttons div {
	/* background-color: #202020; */
}
.services-theme .owl-controls .owl-buttons div.owl-prev{
	background-position: -120px -120px;
}
.services-theme .owl-controls .owl-buttons div.owl-next{
	background-position: -60px -120px;
}
/services-theme .owl-controls .owl-buttons div.owl-prev:hover{
	background-position: -120px -180px;
}
.services-theme .owl-controls .owl-buttons div.owl-next:hover{
	background-position: -60px -180px;
}

/* Works */
ul.isotope-option li.current a,
ul.isotope-option li a:hover {
	color:#fff;
}

/* Price */
.price-table {
	border: 1px solid #fff;
}
.price-table h4.packet-title {
	color:#202020;
	background:#fff;
	margin:0;
}
.price-table ul li {
	border-top: 1px solid #fff;
}

/* Footer */
footer#site-footer {
	background:#fff;
}
footer .copyright {
	color:#202020;
}

a.social-link .fa { color:#202020; }
a.social-link:hover .fa{ color:#666; }
.about-person a.social-link .fa { color:#333; }
.about-person a.social-link:hover .fa { color:#666; }

/* Blog */
.entry-header {
	border-right: 1px solid #fff;
}
.entry-meta div {
	border-bottom: 1px solid #fff;
}
.post-navigation .nav-previous .meta-nav {
	background-image:url("../images/arr-left-big-white.png");
	background-image: -Webkit-image-set(url('../images/arr-left-big-white.png') 1x, url('../images/arr-left-big-white@2x.png') 2x); 
}
.post-navigation .nav-next .meta-nav {
	background-image:url("../images/arr-right-big-white.png");
	background-image: -Webkit-image-set(url('../images/arr-right-big-white.png') 1x, url('../images/arr-right-big-white@2x.png') 2x); 
}
.post-navigation .meta-text {
	color:#fff;
}
aside input[type="text"] {
	border: 1px solid #fff;
}
input[type=text], input[type=email], input[type=url], textarea {
	color: #fff;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus {
	color: #fff;
}
article.quote blockquote p {
	background-image: url("../images/double-underline-white.png");
}
.widget-flickr-profile .thumb-overlay {
	background: #fff;
	background: rgba(255,255,255,0.6);
}
.widget-latest-posts .thumb-overlay {
	color: #333;
	background: #fff;
	background: rgba(255,255,255,0.6);
}


/* Preloader */
#qLoverlay {
	background: #202020 !important;
}
#qLpercentage {
	color: rgb(255, 255, 255) !important;
}

@media only screen 
and (max-width:767px) {
	ul.isotope-option li.option-select a.active { color: #fff; 	}
}